@font-face {
	font-family: "Russia";
	src: url("../fonts/russia.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
* {
    box-sizing: border-box;
    font-family: "Russia";
    margin: 0;
    padding: 0;
}
.container {
    width: 1331px;
    margin: 0 auto;
}
@import 'block/header';
@import 'block/form';